

{{ block breadcrumb(id) }}
    {{ list := Widget.Breadcrumb(id) }}
    {{ if len(list) == 0}}
        {{ list = Category().GetWithParent(id)}}
    {{end}}
    {{ listLen := len(list)}}
    <div class="flex truncate items-center align-middle text-sm py-3 md:py-4">
        <a class="flex items-center" href="/"><i class="mr-1 icon icon-home"></i>{{ Config.Site.Name }}</a>
        <i class="mx-1 icon icon-right"></i>
        {{ range i, v := list }}
            <a class="{{ if i+1 == listLen }}text-gray-400 dark:text-neutral-500{{ end }} truncate" href="{{v.URL()}}">{{v.Name}}</a>
            {{ if i+1 < listLen }}
                <i class="mx-1 icon icon-right"></i>
            {{ end }}
        {{ end }}
    </div>
{{ end }}