body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color:#E5E7EB;
}
.app-loading-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    color:#999999;
}
.app-loading-container p{
    margin-left:-5px;
}
.app-loading {
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-animation: rotation 1s infinite;
    animation: rotation 1s infinite;
    margin-top: -100px;
}

.app-loading>div {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius:2px;
}

.app-loading .shape1 {
    left: 0;
    background-color: #1d4dd2;
    -webkit-animation: shape1 2s linear 0s infinite normal;
    animation: shape1 2s linear 0s infinite normal;
}

.app-loading .shape2 {
    right: 0;
    background-color: #306fff;
    -webkit-animation: shape2 2s linear 0s infinite normal;
    animation: shape2 2s linear 0s infinite normal;
}
.app-loading .shape3 {
    bottom: 0;
    background-color: #3c7eff;
    -webkit-animation: shape3 2s linear 0s infinite normal;
    animation: shape3 2s linear 0s infinite normal;
}
.app-loading .shape4 {
    bottom: 0;
    right: 0;
    background-color: #689fff;
    -webkit-animation: shape4 2s linear 0s infinite normal;
    animation: shape4 2s linear 0s infinite normal;
}

@-webkit-keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@-webkit-keyframes shape1 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, 18px);
    }
    50% {
        transform: translate(18px, 18px);
    }
    75% {
        transform: translate(18px, 0);
    }
}

@keyframes shape1 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, 18px);
    }
    50% {
        transform: translate(18px, 18px);
    }
    75% {
        transform: translate(18px, 0);
    }
}


@-webkit-keyframes shape2 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-18px, 0);
    }
    50% {
        transform: translate(-18px, 18px);
    }
    75% {
        transform: translate(0, 18px);
    }
}

@keyframes shape2 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-18px, 0);
    }
    50% {
        transform: translate(-18px, 18px);
    }
    75% {
        transform: translate(0, 18px);
    }
}


@-webkit-keyframes shape3 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(18px, 0);
    }
    50% {
        transform: translate(18px, -18px);
    }
    75% {
        transform: translate(0, -18px);
    }
}

@keyframes shape3 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(18px, 0);
    }
    50% {
        transform: translate(18px, -18px);
    }
    75% {
        transform: translate(0, -18px);
    }
}

@-webkit-keyframes shape4 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, -18px);
    }
    50% {
        transform: translate(-18px, -18px);
    }
    75% {
        transform: translate(-18px, 0);
    }
}

@keyframes shape4 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, -18px);
    }
    50% {
        transform: translate(-18px, -18px);
    }
    75% {
        transform: translate(-18px, 0);
    }
}
