{{extends "./layout/layout.html"}}
{{import "./component/article_list.html"}}
{{import "./component/pagination.html" }}
{{import "./component/breadcrumb.html" }}

{{block main()}}
    {{yield breadcrumb(id=Data.ID)}}
    <div class="mb-3 mt-5">
        <h1 class="text-3xl font-bold text-black dark:text-neutral-200">
            {{ if Page.PageNumber > 1}}
            <a href="{{Data.URL()}}">{{Data.Name}}</a>
            {{ else }}
            {{Data.Name}}
            {{ end }}
        </h1>
        <div class="my-4 divide-x-2 divide-gray-300 divide-opacity-60">
            {{ range i, v := Category().Children(Data.ID) }}
            <a href="{{ v.URL() }}" class="px-3 mb-3 inline-block">{{ v.Name }}</a>
            {{ end }}
        </div>
    </div>
    {{ res:= Widget.CategoryPageList(Data.ID, Page.PageNumber)}}
    {{yield article_list(list=res.List)}}
    {{yield pagination(pageTotal=res.PageTotal, existNextPage=res.ExistNextPage, disableCount=res.DisableCount, count=res.Count)}}
{{end}}