{{extends "./layout/layout.html"}}
{{import "./component/article_list.html"}}
{{import "./component/pagination.html" }}

{{block main()}}
    <div class="flex items-center mb-3 mt-5">
        <h1 class="text-3xl font-bold text-black dark:text-neutral-200">
            {{ if Page.PageNumber > 1}}
                <a href="{{Data.URL()}}">{{Data.Name}}</a>
            {{ else }}
                {{Data.Name}}
            {{ end }}
        </h1>
    </div>
    {{ res:= Widget.TagPageList(Data.ID, Page.PageNumber)}}
    {{yield article_list(list=res.List)}}
    {{yield pagination(pageTotal=res.PageTotal, existNextPage=res.ExistNextPage, disableCount=res.DisableCount, count=res.Count)}}
{{end}}