<header class="w-full shadow bg-white dark:bg-neutral-900" :class="{'fixed top-0 z-40 shadow-xl':headFixed}">

    <div class="w-full border-b border-opacity-40 dark:border-neutral-800" :class="{'hidden':headFixed}">
        <div x-ref="nav" class="container py-1 hidden lg:grid grid-flow-col content-center justify-end gap-4 text-sm">
            <a href="/">Home</a>
            <a href="/about.html">About</a>
            <a href="/custom.html">Custom</a>

            <div class="hidden lg:block">
                <div class="flex cursor-pointer items-center" x-on:click="dark = !dark; localStorage.setItem('dark',dark ?'dark':'')">
                    <i class="icon icon-moon" x-show="!dark"></i>
                    <i class="icon icon-sun" x-show="dark"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-none container py-1 md:py-2 lg:py-4 flex justify-between items-center overflow-hidden" :class="{'lg:py-2':headFixed}">

        {{ include "../widget/logo.html" }}
        {{ include "../widget/nav.html" }}

        <div class="lg:hidden flex">
            <div class="cursor-pointer flex items-center" x-on:click="dark = !dark; localStorage.setItem('dark',dark ?'dark':'')" x-cloak>
                <i class="icon icon-moon" x-show="!dark"></i>
                <i class="icon icon-sun" x-show="dark"></i>
            </div>
            <div class="cursor-pointer icon icon-menu ml-3" x-on:click="showDrawer = true"></div>
        </div>


    </div>
</header>

<div x-show="showDrawer" x-on:click="showDrawer = false" class="fixed z-50 inset-0 w-full h-full bg-black bg-opacity-60 drawer" x-cloak>
    <div class="absolute right-0 w-7/12 h-full p-3 overflow-auto bg-white dark:bg-black">
        <div x-html="nav?.innerHTML || ''" class="flex flex-col gap-3 border-b pb-3 mb-3 border-gray-200 dark:border-gray-900"></div>
        <div x-html="menu?.innerHTML || ''" class="grid grid-cols-1 divide-y divide-gray-200 dark:divide-gray-900"></div>
    </div>
</div>