<!DOCTYPE html>
<html x-data="data($refs)" x-init="init($data)" :class="{ 'dark': dark }">
  <head>
    <meta charset="utf-8">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-title" content="{{ Config.Site.Name }}">
    {{ if Page.Description !="" }}
    <meta name="description" content="{{Page.Description}}">
    {{ end }}
    {{ if Page.Keywords !="" }}
    <meta name="keywords" content="{{Page.Keywords}}">
    {{ end }}
    {{ if Page.Title !="" }}
    <title>{{ Page.Title }}</title>
    {{ end }}
    <link href="/style.css" rel="stylesheet" type="text/css" />
    {{ Config.Template.Head |raw }}
  </head>


  <body :class="{'h-screen overflow-hidden':showDrawer}" x-cloak>

    {{ include "./header.html" }}

    <div class="container grid grid-cols-16 gap-4 mt-3 lg:mt-5">
      <main class="col-span-full lg:col-span-11">
        {{yield main()}}
      </main>
      <aside class="col-span-full lg:col-span-5">
        {{ include "./aside.html" }}
      </aside>
    </div>

    <footer class="container py-3 text-center">
      {{ Config.Template.Footer |raw }} Theme by Germ
    </footer>

    <script defer src="/alpinejs.3.11.1.min.js"></script>
    <script src="/blazy.min.js"></script>
    <script>
      new Blazy({selector:'img'});
      function data($refs){
        return {
          showDrawer:false,
          nav:$refs.nav,
          menu:$refs.menu,
          dark: localStorage.getItem('dark')==='dark',
          headFixed:false,
        }
      }

      function init(data){
        window.onscroll=function(){
          data.headFixed = document.documentElement.scrollTop > 80
        }
      }

      // 防止 alpinejs 加载失败,主动去掉 cloak 属性
      document.querySelectorAll('[x-cloak]').forEach(element => element.removeAttribute('x-cloak'));

    </script>
  </body>

</html>