<!DOCTYPE html>
<html x-data="{ showDrawer:false, nav:$refs.nav, menu:$refs.menu, dark: localStorage.getItem('dark')=='dark' }" :class="{ 'dark': dark }">
  <head>
    <meta charset="utf-8">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-title" content="{{ Config.Site.Name }}">
    {{ if Page.Description !="" }}
    <meta name="description" content="{{Page.Description}}">
    {{ end }}
    {{ if Page.Keywords !="" }}
    <meta name="keywords" content="{{Page.Keywords}}">
    {{ end }}
    {{ if Page.Title !="" }}
    <title>{{ Page.Title }}</title>
    {{ end }}
    <link href="/style.css" rel="stylesheet" type="text/css" />
    {{ Config.Template.Head |raw }}
  </head>
  <body :class="{'h-screen overflow-hidden':showDrawer}">
    {{ include "./header.html" }}
    <div class="container grid grid-cols-12 gap-4 2xl:gap-6">
      <main class="col-span-full lg:col-span-9">
        {{yield main()}}
      </main>
      <aside class="col-span-full lg:col-span-3">
        {{ include "./aside.html" }}
      </aside>
    </div>
    {{ include "./footer.html" }}
    <script defer src="/alpinejs.3.10.4.min.js"></script>
    <script src="/echo.min.js"></script>
    <script>
      echo.init();
    </script>
  </body>
</htmlx-data>