
{{carousel := Widget.Carousel()}}

{{ if len(carousel) > 0}}
<link rel="stylesheet" href="/swiper-bundle.min.css">
<style>
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size:30px !important;
    }
</style>
<div class="swiper w-full mb-3 lg:mb-5 overflow-hidden">
    <div class="swiper-wrapper">
        {{ range i, v :=  carousel}}
            {{ if v.Image != ""}}
                <div class="swiper-slide overflow-hidden">
                    <a class="block relative w-full h-full rounded overflow-hidden" href="{{v.Link}}">
                        <img class="w-full h-full" src="{{v.Image}}" />
                        {{ if v.Title != ""}}
                        <div class="w-full h-8 md:h-14 text-sm md:text-2xl px-3 md:px-8 absolute md:bottom-0 left-0 bottom-0 overflow-hidden bg-black bg-opacity-60 text-white font-bold flex items-center">{{v.Title}}</div>
                        {{end}}
                    </a>
                </div>
            {{end}}
        {{end}}
    </div>
    <div class="swiper-button-prev bg-black opacity-60 rounded-md" style="color:white;;left:5px;"></div>
    <div class="swiper-button-next bg-black opacity-60 rounded-md" style="color:white;right:5px;"></div>
</div>
<script src="/swiper-bundle.min.js"></script>
<script>
    new Swiper ('.swiper', {
        loop: true,
        autoplay:true,
        autoHeight:true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    })
</script>

{{end}}